body{
  font-family: "Lucida Console", Courier, monospace;
  margin: 0px;
}


#wrapper{

width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header{

height: 150px;
width: 100%;
background-color: gray;
}

nav{

height: 50px;
width: 100%;
background-color:#8EF573;
}

main{

height: 450px;
width: 75%;
background-color: purple;
}

aside{

  height: 450px;
  width: 25%;
  background-color: brown;
}

footer{
  height: 100px;
  width: 100%;
  background-color: yellow;
}

#container{

  display: flex;
}


a {
  color: black;
  text-decoration: none;
  font-size: 50px;

}
